
<div class="container-fluid form-group d-flex  justify-content-center">
    <div class="alert alert-warning" *ngIf='invalid'>Invalid credentials</div>
    <div>
        <div>
            <img src="\assets\images\bg-01.jpg" alt="..." class="img-thumbnail">
        </div>
        <div>
            <label  for="username"> Username :  </label>
            <input type="text" name="username" [(ngModel)]="username" class="form-control form-control-sm">
        </div>
        <div>
            <label for="password">Password :</label>  
            <input type="Password" name="Password" [(ngModel)]="password" class="form-control form-control-sm">
        </div><br/>
        <div>
            <button (click)="handleJWTAuthLogin()" class="btn btn-success">Login</button>
        </div>
    </div>
</div>